*{
    margin: 0;
    padding:0;
    
}
body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url(1.webp);
    background-size: ;
    opacity: 0.10px;
    fill-opacity: 0.10px; */
    
}
section{
    height: 900px;
    width: 100%;
    background-image: url(2.jpg);
    background-size: cover;
    opacity: 0.10px;
    fill-opacity: 0.10px;
    background-color: #0e121b;
    filter: brightness(00.5px);

}
header{
    height: 95px;
    width: 100%;
    padding-top: 25px;
    background-color: #0e121b;
}
.navbar1{

    /* margin: 10px; */
    width: 100%;
    color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center; 
     
}
#span1{
    position: absolute;
    right: 2%;
}
input{
    border-radius: 7px;
    height: 36px;
    width: 228px;
    background-color: #1b2232cc;
    border: none; 
    text-align: left ;
    font-size: 15px;
}

.none{
    width: 50%;
}
button{
    border: none;
    height: 36px;
    color: #fff;
    width:56px ;
    background-color: rgb(23, 19, 19);
    border:0.5px solid #22212c ;
}

.moon{
    border-radius: 5px;
    height: 36px;
    color: #fff;
    width:36px ;
    background-color: rgb(23, 19, 19);
    border:0.5px solid #22212c ;
}
#nav1{
    position: fixed;
    left: 10px;
}
input{
    margin: 5px;
    height: 36px;
    width: 250px;
    font-size: 1ram;
    text-align:justify ;
    
}
.navbar2{
    margin: 20px;
    width: 100%;
}
#nav2{
    color: #fff;
    margin: 10px;
    font-size: 20px;
    
}
/* hero */

.hero{
    height: 900px;
    width: 100%;
    /* background-image: url(1.webp);
    background-size: cover; */
   background-color:#3d588fcc;
   opacity: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.head{
    height: 620px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
.learn{
    height: 40px;
    width: 280px;
    background-color: #18181b80;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    opacity: 0.5px;
    
}
#h1{
    padding-top: 6%;
    color: white;
    font-size: 30px;
    font-weight: 600;
  display: flex;
}

#h2{
    padding-top: 1.8%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
#p{
    padding-top: 3%;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
p{
    font-size: 20px;
    color: #fff;
}
#btt{
    padding-top: 10%;
    padding-bottom: 5%;
}
#button1{
    background-color: #fff;
    color: black;
    border-radius: 5px;
    height: 36px;
    width: 150px;
    font-weight: 400;
    
}
#button1:hover{
    background-color: #e8e5e5;
}
#btt2{
    padding-left: 30px;
}
#a1{
    text-decoration: none;
    color: #0e121b;
    font-weight: 500;
    font-size: 15px;
}
#a2{
    text-decoration: none;
   color: #fff;
    font-weight: 500;
    font-size: 15px;
}
#button2{
    background-color: #181818;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 34px;
    width: 140px;
    font-weight: 400;
    border: 0.5;
    
}
#button2:hover{
    background-color: #282828;
}
#k{
    background-color: #18181b80;
    height:110px ;
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 7px;
    
}

#cource{
    color: #fff;
    font-size: 35px;
    
}
#c{
    color: #fff;
    font-size: 15px;
    text-align: center;
}
#student{
    color: #fff;
    font-size: 35px;
}
#s{
    color: #fff;
    font-size: 15px;
    text-align: center;
}
#rating{
    color: #fff;
    font-size: 35px;
}
#r{
    color: #fff;
    font-size: 15px;
    text-align: center;
}

#k1{
    height: 90px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#k2{
    height: 90px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#k3{
    height: 90px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#k4{
    height: 90px;
    width: 60px;
}
.content{
    background-color: transparent;
    height: 1100px;
    width: 100%;
    background-color:#0e121b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.end{
    height: 1000px;
    width: 950px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.e1{
    color: #fff;
}
.e2{
   text-align: center;
   padding-top: 5%;
}
